.control-group
  = form.label :email, :class => 'control-label'
  .controls
    = form.text_field :email, :type => "email"
.control-group
  = form.label :password, :class => 'control-label'
  .controls
    = form.password_field :password

